@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-3 px-8 rounded-full hover:bg-primary-dark transition duration-300 shadow-md hover:shadow-lg;
  }
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary;
}

.placeholder-gradient::placeholder {
  background: linear-gradient(to right, #3B82F6, #10B981);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
}
